*.ipynb linguist-language=Python
*.yaml linguist-language=Python
.*.* linguist-language=Python
*.pkl linguist-language=Python
*.pth linguist-language=Python
*.png linguist-language=Python
*.pb filter=lfs diff=lfs merge=lfs -text
