<!DOCTYPE html>
<html>
  <head>
    <title>Parkinson's Detector</title>
    <!---ONNX.js--->
    <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
    <!---jQuery and SurveyJS--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://surveyjs.azureedge.net/1.7.6/survey.css" type="text/css" rel="stylesheet" />
    <script src="https://surveyjs.azureedge.net/1.7.6/survey.jquery.min.js"></script>
  </head>
  <body>
    <div id="surveyContainer"></div>
    <script>
      var surveyJSON = {
      "pages": [{
        "name": "page1",
        "elements": [{
          "type": "boolean",
          "name": "disclaimer",
          "title": "I understand that, while based on science, this is not medical advice.",
          "isRequired": true,
          "labelTrue": "Yes",
          "labelFalse": "No"
        }, {
          "type": "radiogroup",
          "name": "parkinsons",
          "title": "Have you been diagnosed with Parkinson's Disease or Distonic Tremor?",
          "description": "This will not affect results, but will be used to improve the algorithm. ",
          "isRequired": true,
          "choices": [{
            "value": "item1",
            "text": "Yes"
          }, {
            "value": "item2",
            "text": "No"
          }, {
            "value": "item3",
            "text": "Prefer Not to Say"
          }]
        }, {
          "type": "html",
          "name": "question1",
          "html": "<h3> Using your dominant hand, please draw a spiral like the one shown <a href='https://tinyurl.com/spiral-image'>here</a>, and upload it below</h3>\n"
        }, {
          "type": "file",
          "name": "question2",
          "title": "Upload the Spiral Here",
          "isRequired": true,
          "showPreview": false,
          "maxSize": 0
        }],
        "title": "Parkinson's Detector",
        "description": "An AI project by Gideon Grinberg"
      }]
      }
      
      function sendDataToServer(survey) {
		console.log("The results are:" + JSON.stringify(survey.data));
    	var SCRIPT_ROOT = {{request.script_root | tojson | safe}};
    	$(location).attr('href', `${SCRIPT_ROOT}/results?results=${String(JSON.stringify(survey.data))}`);
      }
      
      var survey = new Survey.Model(surveyJSON);
      $("#surveyContainer").Survey({
      model: survey,
      onComplete: sendDataToServer
      });
      
    </script>
  </body>
</html>
